<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>

	<connectionStrings>
  <add name="HangmanGameData.Properties.Settings.HangmanGameDBConnectionString"
   connectionString="Data Source=YOUR_SERVER_NAME;Initial Catalog=HangmanGameDB;User ID=YOUR_SQL_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>