<appSettings>
	<add key="EmailSenderAddress" value="your_email@gmail.com" />
	<add key="EmailSenderPassword" value="your_google_app_password" />
	<add key="SmtpHost" value="smtp.gmail.com" />
	<add key="SmtpPort" value="587" />
	<add key="EmailSenderDisplayName" value="Hangman Game" />
</appSettings>